{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configpasswordunmask

    Admin password unmask setting template.

    Context variables required for this template:
    * name - form element name
    * size - form element size
    * value - form element value
    * id - element id

    Example context (json):
    {
        "name": "test",
        "id": "test0",
        "size": "8",
        "value": "secret"
    }
}}
<div class="form-password">
    <div data-passwordunmask="wrapper" data-passwordunmaskid="{{ id }}" class="password-unmask-container form-group">
        <div class="input-group">
            <div class="form-control password-unmask-input">
                <span data-passwordunmask="editor">
                    <input  type="hidden"
                            id="{{ id }}"
                            value="{{ value }}"
                            class="form-control d-inline-block"
                            data-size="{{ size }}"
                            {{# error }}
                                autofocus aria-describedby="id_error_{{ name }}"
                            {{/ error }}
                            {{{ attributes }}}
                            >
                </span>
                <a class="click-to-edit" href="#" data-passwordunmask="edit" title="{{ edithint }}">
                    <span data-passwordunmask="displayvalue">{{> core_form/element-passwordunmask-fill }}</span>
                    {{# pix }} t/passwordunmask-edit, core, {{# str }} passwordunmaskedithint, form {{/ str }}{{/ pix }}
                </a>
            </div>
            <div class="input-group-addon password-unmask-btn">
                <a href="#" data-passwordunmask="unmask" title="{{ unmaskhint }}">
                    <div class="show-icon">{{# pix }} t/passwordunmask-reveal, core, {{# str }} passwordunmaskrevealhint, form {{/ str }}{{/ pix }}</div>
                    <div class="hide-icon">{{# pix }} t/passwordunmask-mask, core, {{# str }} passwordunmaskmaskhint, form {{/ str }}{{/ pix }}</div>
                </a>
            </div>
        </div>
        <div class="popover popover-top password-unmask-instructions" role="tooltip" data-passwordunmask="instructions">
            <div class="popover-content">
                {{# str }} passwordunmaskinstructions, form {{/ str }}
            </div>
            <div class="popover-arrow"></div>
        </div>
    </div>
</div>
{{#js}}
require(['core_form/passwordunmask'], function(PasswordUnmask) {
    new PasswordUnmask("{{ id }}");
});
{{/js}}
